.keyboard {
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  text-align: center;
  .numKey {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: antiquewhite;
    border-right: 2px solid #cccccc;
  }
}
